body{
	font-family: "Pixelify Sans", sans-serif;
  	font-optical-sizing: auto;
 	font-weight: 400;
  	font-style: normal;
	color: #000000;
	background-color: #DCE7EF;
	height: -webkit-fill-available;
}

.logo {
	width: 75px;
	padding-right: 35px;
}

header{
	background-color: #E9C8B2;
	padding: 20px 0;
	height: 90px;
	width: 100%;
	display: flex;
	align-items: center;
}

.caixa{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#nav-menu {
	margin: 0;
	width: 100%;
}
nav {
	width: 100%;
	top: 50px;
	right: 0;
	vertical-align: middle;
}

nav li {
	display: inline-block;
	list-style: none; 
	margin: 0 0 0 10px;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration:none;
}
nav a:hover {
	color: #756255;
	text-decoration: underline;
	transition: 0.3s;
}
.submenu{
	background-color: #c95a50;
}
.submenu li{
	display: inline-block;
	margin: 0 auto;
	padding: 10px 95px;
}
.submenu li a {
	font-size: 25px;
	text-decoration: none;
	color: antiquewhite;
}
.submenu li a:hover{
	color: rgb(221, 205, 184);
	text-decoration: underline;
	transition: 0.3s;
}
.title{
	margin-top: 20px;
	text-align: center;
	font-size: 65px;
	font-weight: 200;
}
.itens{
    width: 1500px;
    margin: 0 auto;
    padding: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}		
.itens li{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 1.5%;
	padding:  20px 20px;
	box-sizing: content-box;
	border: 2px solid #C1829D;
	border-radius: 10px;
	margin-bottom: 1em;
}	
.itens li:hover {
	border-color: #FFA8DD;	
	transition: 0.3s;
}
.itens h2{
	display: block;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.itens li:hover h2{
    font-size: 28px;
	transition: 0.3s;
}
.img{
	width: 110px;
	text-decoration: none;
}
.clock{
	display: inline-flex;
	margin: 8px;
}
.ico{
	width: 15px;
	margin: 0 auto;
}
.min{
	min-width: 10px;
	max-width: 100px;
	margin: 0px 0px 0px 5px;
}
.bot{
	display: flex;
	margin: 0 auto;
	width: 110px;
	padding: 10px 10px;
	text-decoration: none;
	background-color: #E9C8B2;
	color: #4e323e;
	border-radius: 5px;
}

a.bot:hover {
    background-color: #C1829D;
	color: rgb(255, 244, 223);
	transition: 0.3s;
}
footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 40px;
    margin-top: 23px;
}		
.copyright{
	color:black;
	font-size: 13px;
	margin: 20px 0 0;
	align-content: center;
}
.logorp{
	width: 45px;
} 